<header id="header">
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="#/">
          <img alt="Brand" src="./assets/images/logo.png">
        </a>
      </div>
    <div class="nav navbar-nav navbar-right">
        <span ng-controller="MeCtrl">Welcome {{ user.first_name }}!</span>
        <a class="btn btn-default navbar-btn" href="#user">User</a>
        <a class="btn btn-default navbar-btn" href="#messages">Message</a>
    </div>
    </div>
  </nav>
</header>

<div class="message-print container-fuild" ng-controller="MessageReadCtrl">
    <div class="container message-read">
        <h1>Message</h1>
        <p>{{ message.sent_date | date:'yyyy-MM-dd HH:mm:ss Z' }}</p>
        <p>From: {{ message.sent_by.first_name }} {{ message.sent_by.last_name }} </p>
        <p>To: {{ message.sent_by.id }} | {{ message.sent_to }}</p>
        <p>Subject: {{ message.subject }} </p>
        <p> {{ message.message }} </p>
    </div>
</div>